@import helper._
@import riskGame.Territory

@(attacker: String)(defender: String)(diceForm: Form[forms.DiceForm])(attackDice: List[Int])(defenseDice: List[Int])(implicit messages: Messages)

<h1>@attacker: Select Dice</h1>

    @form(action = routes.AttackController.rollDice) {
        @select(
            field = diceForm("aDice"),
            options = attackDice.map(num => num.toString -> num.toString)
        )
        @select(
            field = diceForm("dDice"),
            options = defenseDice.map(num => num.toString -> num.toString)
        )

        <input type="submit" value="submit" />
    }



