@import riskGame.{Player, Territory}
@import helper._
@(armyForm: Form[forms.AssignArmiesForm])(player: Player)(implicit messages: Messages)

<body style="background-color:#00b7a9;">
</body>
<h1>Turn: @player.name</h1>
<h2>Select your territory</h2>

@form(action = routes.GameController.assignTerr) {
    @select(
        field = armyForm("terr"),
        options = player.getOccTerr.map((terr: Territory) => terr.name -> terr.name)
    )
    @inputText(armyForm("numArmies"))

    <input type="submit" value="submit">
}

