@import riskGame.{Player, Territory}
@import helper._
@(armyForm: Form[forms.AssignArmiesForm])(player: Player)(implicit messages: Messages)

<style>
div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

h3 {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 52%;
    left: 57%;
    margin-top: -100px;
    margin-left: -200px;
}
.button {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    background: #000000;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
}
.button:hover {
    color: #ffff00;
    background: #000;
}
</style>
<div>
<body style="background-color:#00b7a9;">
</body>
<center>
<h1>Turn: @player.name</h1>
<h2>Select your territory</h2>
</center>
</div>
<h3>
@form(action = routes.GameController.assignTerr) {
    @select(
        field = armyForm("Territory"),
        options = player.getOccTerr.map((terr: Territory) => terr.name -> terr.name)
    )
    @inputText(armyForm("Number of Armies"))

    <input type="submit" value="submit">
}
</h3>
