@import riskGame.Player
@import helper.{form, select}

@(attacker: Player)(terrForm: Form[forms.AttackForm])(implicit messages: Messages)
<body style="background-color:#00b7a9;">
</body>

<style>
div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
h2 {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
.button {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    background: #000000;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
}
.button:hover {
    color: #ffff00;
    background: #000;
}
</style>
<center>
<div>
<h1>@attacker.name: Choose Territory to attack from</h1>
</div>
<h2>
@form(action = routes.AttackController.getAdjTerr) {
    @select(
        field = terrForm("Territory"),
        options = attacker.getOccTerr.filter(_.numArmies >= 2).map(terr => terr.name -> terr.name)
    )
    <input type="submit" value="submit" />
}
</h2>
</center>
