@import riskGame.Player
@import helper.{form, select}

@(attacker: Player)(terrForm: Form[forms.TerritoryForm])(implicit messages: Messages)
<body style="background-color:#00b7a9;">
</body>

<style>
div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
h2 {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
</style>
<center>
<div>
<h1>@attacker.name: Choose Territory to attack from</h1>
</div>
<h2>
@form(action = routes.AttackController.getAdjTerr) {
    @select(
        field = terrForm("Territory"),
        options = attacker.getOccTerr.filter(_.numArmies >= 2).map(terr => terr.name -> terr.name)
    )
    <input type="submit" value="submit" />
}
</h2>
</center>
