@(playerForm: Form[forms.PlayerForm])(implicit messages: Messages)

@import helper._
<body style="background-color:#00b7a9;">
</body>
<style>
div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 20%;
    left: 48%;
    margin-top: -100px;
    margin-left: -200px;
}
h2 {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 25%;
    left: 47%;
    margin-top: -100px;
    margin-left: -200px;
}
</style>
<center>
<div>
<h1>Enter Players</h1>
</div>
<h2>
@form(action = routes.GameController.display) {
    @inputText(playerForm("Player 1"))
    @inputText(playerForm("Player 2"))
    @inputText(playerForm("Player 3"))
    @inputText(playerForm("Player 4"))
    @inputText(playerForm("Player 5"))
    @inputText(playerForm("Player 6"))

    <input type="submit" value="submit">
}
</h2>
</center>
