@(playerForm: Form[forms.PlayerForm])(implicit messages: Messages)

@import helper._
<body style="background-color:#00b7a9;">
</body>
<style>
div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 20%;
    left: 48%;
    margin-top: -100px;
    margin-left: -200px;
}
h2 {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 25%;
    left: 47%;
    margin-top: -100px;
    margin-left: -200px;
}
h3 {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 83%;
    left: 48%;
    margin-top: -100px;
    margin-left: -200px;
}
.button {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    background: #000000;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
}
.button:hover {
    color: #ffff00;
    background: #000;
    border: 1px solid #fff;
}
</style>
<center>
<div>
<h1>Enter Players</h1>
</div>
<h2>
@form(action = routes.GameController.display) {
    @inputText(playerForm("Player 1"))
    @inputText(playerForm("Player 2"))
    @inputText(playerForm("Player 3"))
    @inputText(playerForm("Player 4"))
    @inputText(playerForm("Player 5"))
    @inputText(playerForm("Player 6"))

    <h3><button class= "button" type="submit" value="Submit">Submit</button></h3>
}
</h2>
</center>
