@import riskGame.Player
@import helper.{form, select}
@import riskGame.Territory
@import riskGame.RiskMap
@(player: Player)(terrForm: Form[forms.TerritoryForm])(occTerrs: List[Territory])(implicit messages: Messages)

<body style="background-color:#00b7a9;">
</body>
<style>
.button {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    background: #000000;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
}
.button:hover {
    color: #ffff00;
    background: #000;
}
span.a {
  display: inline-block;
  width: 100px;
  height: 75px;
  padding: 0px;
  border: 5px solid blue;
  background-color: lightgray;
}
</style>
<center>
<h1>@player.name: Choose Territory to move to</h1>
<h2>@form(action = routes.FortifyController.selectArmies) {
    @select(
        field = terrForm("Territory"),
        options = occTerrs.map(terr => terr.name -> terr.name)
    )
    <h3><button class= "button" type="submit" value="Submit">Submit</button></h3>
}
</h2>
<p>
        <img src="https://www.alternatehistory.com/forum/attachments/blank-risk-png.30809/" alt="Map" width="850" height="600" align="left">
        @for(continent <- RiskMap.continents) {
            <h3>@continent.name :</h3>
            @for(Territory <- continent.territories) {
                <span class = "a">
                    @Territory.name <br> Owner: @Territory.owner.name <br> Armies: @Territory.numArmies
                </span>
            }
            <br>
        }
    </p>
</center>
