@import helper._
@(numArmiesList: List[Int])(armyForm: Form[forms.MoveArmiesForm])(implicit messages: Messages)
<body style="background-color:#00b7a9;">
</body>
<style>
div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
</style>
<div>
    <center>
<h1>Choose number of armies to move</h1>
<h2>@form(action = routes.FortifyController.move) {
    @select(
        field = armyForm("Number of Armies"),
        options = numArmiesList.map(num => num.toString -> num.toString)
    )
    <input type="submit" value="submit" />
}
</h2>
</div>
</center>
