<body style="background-color:#00b7a9;">
</body>

<style>
div {
    height: 200px;
    width: 400px;

    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

input.MyButton {
    width: 300px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    background: #000000;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
}
input.MyButton:hover {
    color: #ffff00;
    background: #000;
    border: 1px solid #fff;
}
</style>

<div>
<center>
    <h1>Welcome to Risk!</h1>
    <h2>Created by Rahul, Akshat, Heba, Gaetan, Napa</h2>
    <h2>
        <input class="MyButton" type="button" value="Click to Start" onclick= "window.location.href='@routes.GameController.showForm()'" />
    </h2>
</center>
</div>
